@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300..700&display=swap");
/* Font imports should be at the top */
@import "tailwindcss";

@theme {
  --default-font-family: "Roboto", sans-serif;
}
